@mixin clear-fix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin center-absolutely {
  // & {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // }
}

// You should consider each device `window.devicePixelRatio`!

// media-query manager

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint options: phone | tab-port | tab-land | big-desktop

Order of usage: Base + typography > general layout + grid > page layout > components

1em = 16px

| Size |   Device   |
| :--: | :--------: |
| 424  |     XZ     |
| 455  | XZ Premium |
| 480  | XA1 Ultra  |
| 1280 |   Laptop   |
| 1536 |     PC     |

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px / 16 = 37.5em
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px / 16 = 56.25em
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200px / 16 = 75em
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px / 16 = 112.5em
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
