.row {
  // color: $color-black;
  max-width: $gird-width;
  // background-color: $color-gray-light;
  margin: 0 auto;

  // To restore the collapsed row height that happened because of using `float`!
  @include clear-fix;

  @include respond(tab-port) {
    max-width: 50rem;
    // max-width: 70rem;
    padding: 0 3rem;
  }

  @include respond(phone) {
    max-width: 50rem;
    // padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-sm;
    }
  }

  [class^='col-'] {
    // height: 5rem;
    // font-size: 1.8rem;
    // background-color: crimson;

    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-sm;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    // Old work around!
    // width: calc((100% - #{$gutter-horizontal}) / 2);
    width: calc((100% - $gutter-horizontal) / 2);
  }

  .col-1-of-3 {
    width: $grid-a-third-cell;
  }

  .col-2-of-3 {
    width: calc((($grid-a-third-cell) * 2) + $gutter-horizontal);
  }

  .col-1-of-4 {
    width: $grid-a-quarter-cell;
  }

  .col-2-of-4 {
    width: calc((($grid-a-quarter-cell) * 2) + $gutter-horizontal);
  }

  .col-3-of-4 {
    width: calc((($grid-a-quarter-cell) * 3) + ($gutter-horizontal * 2));
  }
}
